:root {
  --accent: #28a745;
  --main: #ffffff;
  --dark: #333333;
  --second-accent: #0284d0;
  --pale: #f4f4f4;
  --grey: #808080;
  --hero-text-color: #e9e9e9;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-right: 48px;
  background-color: #000000;
}

.logo {
  margin-left: 99px;
  font-size: 35px;
  line-height: 1.2;
  color: var(--accent);
}

.logo-accent {
  color: var(--main);
}

.menu-list {
  display: flex;
  margin-left: auto;
}

.menu {
  display: block;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.menu-list > li:not(:last-child) {
  margin-right: 38px;
}
/* hero */

.hero {
  padding-top: 225px;
  padding-bottom: 293px;
  background-color: #000;
}

.hero > .hero-title {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-text-color);
}

.hero > .hero-text {
  padding-bottom: 29px;
  font-size: 22px;
  line-height: 1.68;
  text-align: center;
  color: var(--hero-text-color);
}

.hero > .hero-button {
  font-family: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px 9px 41px;
  color: var(--main);
  background-color: var(--accent);
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.services {
  background: var(--pale);
}
.title-services {
  color: var(--dark);
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}
.text-services {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  white-space: pre;
}
/* gallary */
.gallery {
  background: var(--light-bcg);
  color: var(--dark);
}

.subtitle-gallery {
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
}

.title-gallery {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
}

.text-gallery {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

/* blog */
.blog {
  display: flex;
}
.blog-title {
background-color: var(--second-accent);
color: var(--main);
}
.blog-date {
  font-size: 20px;
  line-height: 1.65; 
  margin-top: 112px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.blog-name {
  font-size: 38px;
  line-height: 1.26;
  font-weight: 300;
  margin-left: 30px;
  margin-bottom: 26px;
}
.blog-list {
  font-size: 18px;
  line-height: 1.56;
  margin-left: 30px;
  margin-bottom: 17px;
  width: 606px;
}
.blog-button {
  font-size: 18px;
  line-height: 1.56;
  border: 1px solid var(--main);
  border-radius: 5px;
  background-color: var(--second-accent);color: var(--main);
  margin-left: 30px;
  width: 196px;
  padding: 11px 31px 10px 42px;
}

/* section team  Ulia*/
.section-team {
  background-color: var(--accent);
  color: var(--main);
  display: flex;
}
.section-team img {
  max-width: 100%;
}
.section-team .paragraf {
  font-size: 20px;
  line-height: 1.65;
  margin-top: 84px;
  margin-left: 30px;
  margin-right: 44px;
}
.section-team .title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-top: 5px;
  margin-left: 44px;
}
.section-team .paragraf-secondary {
  font-size: 18px;
  line-height: 1.55;
  width: 606px;
  margin-top: 26px;
  margin-left: 30px;
}
.section-team button {
  background-color: var(--accent);
  color: var(--main);
  font-size: 18px;
  line-height: 1.55;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 17px;
  margin-left: 30px;
  padding: 11px 42px;
}
/* team section Margo*/

.subtitle-team {
  color: var(--dark);
  font-family: inherit;
  font-size: 20px;
  line-height: 1.65;
}

.title-team {
  color: var(--dark);
  font-family: inherit;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.text-team {
  color: var(--dark);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.53;
}
.item-team {
  color: var(--dark);
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28;
}
/* section Request Callback */
.section-callback {
  background-color: var(--pale);

  display: flex;
}
.section-callback img {
  max-width: 100%;
}

.section-callback .title {
  color: var(--dark);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.2631;
  margin-top: 78px;
  margin-left: 30px;
}

.section-callback button {
  color: var(--main);
  background-color: var(--accent);
  font-size: 18px;
  line-height: 1.39;
  cursor: pointer;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  width: 620px;
  height: 42px;
  margin-top: 210px;
  margin-left: 30px;
  border: none;
}
.footer {
  background-color: var(--bcg-footer);
}
.text-footer {
  color: var(--main);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}