:root {
  --accent: #28a745;
  --button-accent: #2bb14a;
  --main: #ffffff;
  --dark: #333333;
  --second-accent: #0284d0;
  --pale: #f4f4f4;
  --grey: #808080;
  --hero-text-color: #e9e9e9;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 28px;
  position: relative;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 11px 50px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

}

.header-icon {
  margin-right: 10px;
  fill: var(--accent);
}

.logo {
  font-size: 35px;
  line-height: 1.2;
  color: var(--accent);
  display: flex;
  align-items: center;
}

.logo-accent {
  color: var(--main);
}

.menu-list {
  display: flex;
  margin-left: auto;
  gap: 38px;
}

.menu {
  display: block;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

/* hero */

.hero {
  padding-top: 270px;
  padding-bottom: 293px;
  background-image: url('../images/background-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #000; */
}

.hero-title {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-text-color);
}

.hero-text {
  padding-bottom: 29px;
  font-size: 22px;
  line-height: 1.68;
  text-align: center;
  color: var(--hero-text-color);
  border: none;
  outline: none;
}

.hero-button {
  font-family: inherit;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 31px 9px 27px;
  color: var(--main);
  background-color: var(--accent);
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  fill: var(--hero-text-color);
  transition: background-color 250ms linear;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-accent);
}

.services {
  background: var(--pale);
  padding-top: 40px;
  padding-bottom: 19px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.servises-list{
  display: flex;
  gap: 71px;
  justify-content: center;
}
.servises-item{
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servises-icon{
  height: 67px;
  width: 67px;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}
.servises-icon>svg{
  fill: currentColor;
}

.title-services {
  color: var(--dark);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.text-services {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

/* section team  Ulia*/
.section-solution {
  background-color: var(--accent);
  color: var(--main);

}

.solution-container {
  display: flex;
}

.section-solution .paragraf {
  font-size: 20px;
  line-height: 1.65;
  margin-top: 84px;
  margin-left: 30px;
  margin-right: 44px;
}

.section-solution .title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-top: 5px;
  margin-left: 30px;
}

.section-solution .paragraf-secondary {
  font-size: 18px;
  line-height: 1.55;
  width: 606px;
  margin-top: 26px;
  margin-left: 30px;
}

.section-solution button {
  background-color: var(--accent);
  color: var(--main);
  font-size: 18px;
  line-height: 1.55;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 17px;
  margin-left: 30px;
  padding: 11px 42px;
}
.solution-img{
  margin-left: -30px;
}

/* gallary */
.gallery {
  padding-top: 50px;
  padding-bottom: 47px;
  background: var(--light-bcg);
  color: var(--dark);
}

.subtitle-gallery {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
}

.title-gallery {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
}

.text-gallery {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 34px;
}

.gallery-list{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

/* blog */
.blog {
  background-color: var(--second-accent);

  position: relative;
}

.blog-container {
  display: flex;
  padding-top: 112px;
    padding-bottom: 112px;
}

.blog-title {

  color: var(--main);
}

.blog-date {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 5px;

}

.blog-name {
  font-size: 38px;
  line-height: 1.26;
  font-weight: 300;
  margin-bottom: 26px;
}

.blog-list {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 17px;
  width: 606px;
}

.blog-button {
  font-size: 18px;
  line-height: 1.56;
  border: 1px solid var(--main);
  border-radius: 5px;
  background-color: var(--second-accent);
  color: var(--main);
  width: 196px;
  padding: 11px 31px 10px 42px;
}
.blog-img{
  position: absolute;
  top: 0;
  left: 50%;
}


/* team section Margo*/

.list-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}

.subtitle-team {
  color: var(--dark);
  font-family: inherit;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 16px;
}

.title-team {
  color: var(--dark);
  font-family: inherit;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  margin-bottom: 34px;
}

.description-team {
  color: var(--dark);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.53;
  text-align: center;
  margin-bottom: 45px;
}

.card-team {
  margin-bottom: 11px;
}

.card-team-item {
  position: relative;
}

.text-team {
  color: var(--dark);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.53;
  text-align: center;
}

.item-team {
  color: var(--dark);
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28;
  text-align: center;
  margin-bottom: 12px;
}

.container-team {
  padding: 49px 31px 57px 30px;
}

.team-social-icon {
  fill: var(--main);
}

.team-social-list {
  display: flex;
  gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    opacity: 0;
}
.list-team-item{
  cursor: pointer;
}
.list-team-item:hover .team-social-list{
  opacity: 1;

}

/* section Request Callback */
.section-callback {
  background-color: var(--pale);
}

.callback-container {
  display: flex;
}

.section-callback .title {
  color: var(--dark);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.2631;
  margin-top: 78px;
  margin-left: 30px;
}

.section-callback button {
  color: var(--main);
  background-color: var(--accent);
  font-size: 18px;
  line-height: 1.39;
  cursor: pointer;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  width: 620px;
  height: 42px;
  margin-top: 210px;
  margin-left: 30px;
  border: none;
}
.callback-img{
  margin-left: -30px;
}
.footer {
  padding-top: 20px;
  padding-bottom: 16px;
  background-color: var(--dark);
}

.social-link {
  display: flex;
  margin-bottom: 10px;
  gap: 25px;
  justify-content: center;
}

.social-icon {
  fill: var(--main);
}

.text-footer {
  color: var(--main);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}