.hero {
  padding-top: 270px;
  padding-bottom: 293px;
  background-image: url('../images/background-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #000; */

  &__title {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
    color: var(--hero-text-color);
  }

  &__text {
    padding-bottom: 29px;
    font-size: 22px;
    line-height: 1.68;
    text-align: center;
    color: var(--hero-text-color);
    border: none;
    outline: none;
  }

  &__button {
    font-family: inherit;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 31px 9px 27px;
    color: var(--main);
    background-color: var(--accent);
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms linear, color 250ms linear;
    outline: none;
    border: none;
  }

  &__button:hover,
  &__button:focus {
    background-color: var(--main);
    color: var(--accent);
  }

  &__icon {
    fill: currentColor;
  }
}
