.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  z-index: 10;

  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 350px;
  left: 50%;
  top: 50%;
  padding: 40px;
  background: var(--main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--main);
    cursor: pointer;
  }

  &__close-icon {
    fill: #000;

    transition: fill 500ms linear, transform 500ms linear;
  }

  &__close-button:hover &__close-icon,
  &__close-button:focus &__close-icon {
    fill: var(--accent);
    transform: rotate(180deg) scale(1.2);
  }

  /* Form */

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark);
  }

  &__input-form {
    position: relative;
    margin-top: 4px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--dark);
    cursor: pointer;
  }

  &__input {
    height: 40px;
    width: 100%;
    padding: 0 10px 0 42px;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--dark);
    background: var(--main);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border 250ms linear;
  }

  &__label:hover &__input,
  &__label:focus-within &__input,
  &__label:hover &__form-icon,
  &__label:focus-within &__form-icon {
    border-color: var(--accent);
    fill: var(--accent);
  }

  &__form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--dark);

    transition: fill 250ms linear;
  }

  &__checkbox-label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
  }

  &__checkbox-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  &__checkbox {
    appearance: none;
  }

  &__checkbox-label::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 0%;
    width: 16px;
    height: 15px;
    border: 2px solid var(--dark);
    border-radius: 2px;
  }

  &__checkbox-vector {
    position: absolute;
    top: 20%;
    left: 0;
    background-color: var(--accent);
    border-radius: 2px;
    fill: var(--main);
    opacity: 0;
  }

  &__checkbox:checked + &__checkbox-label &__checkbox-vector {
    opacity: 1;
  }

  &__checkbox-link {
    color: var(--accent);
  }

  &__checkbox-link:hover,
  &__checkbox-link:focus {
    text-decoration: underline;
  }

  &__send-button {
    display: block;
    background-color: var(--accent);
    color: var(--main);
    font-size: 18px;
    line-height: 1.55;
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 42px;
    transition: background-color 250ms linear, color 250ms linear, border 250ms linear, box-shadow 250ms linear;
  }

  &__send-button:hover,
  &__send-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--main);
    color: var(--accent);
    border: 1px solid var(--accent);
  }
}
